<section>
  <div class="d-flex justify-content-center align-items-center w-100 vh-100">
    <div>
      <img src="/static/svg/404.svg" alt="Not found" />
      <p class="text-center fs-3 fw-normal mt-2">404 | Not Found</p>
    </div>
  </div>
</section>