<header class="header">
  <nav class="nav-bar">
    <a class="nav-bar_logo" href="/">
      <img src="/static/svg/logo.svg" alt="edWorld" >
    </a>
    <div class="nav-bar_list d-none d-md-flex">
      <a href="/">Home</a>
      <a href="/">Courses</a>
      <a href="/">Contact</a>
    </div>
    <a href="/login" class="nav-bar_btn">
      <div>Sign in</div>
    </a>
  </nav>


  <div class="hero">
    <div class="hero_content">
      <h3 class="hero_title">
        Discover best classes for the best  learning
      </h3>
      <p class="hero_description">
        We designed Connections Academy to give students all across the nation a public school that lets them learn.
      </p>
      <a href="mailto:info@edworld.com" class="hero_btn">
        <div>Register Now</div>
      </a>
    </div>
    <div class="hero_img">
      <img class="img-fluid d-none d-md-block" src="/static/img/hero.svg" alt="Discover">
    </div>
  </div>

  <div class="partners">
    <div class="partners_title">
      <h3>400+</h3>
      <p>Universities worldwide that partner with us</p>
    </div>
    <div class="partners_img">
      <img class="img-fluid" src="/static/img/partners.png" alt="partners">
    </div>
  </div>
</header>

<main>
  <section class="working">
    <div class="working_img">
      <img class="img-fluid d-none d-md-block" src="/static/img/h-i-w.svg" alt="How it works">
      <img class="img-fluid d-md-none" src="/static/img/h-i-w2.svg" alt="How it works">
    </div>
    <div class="working_content row">
      <div class="col-12 col-md-6">
        <img class="working_content-icon" src="/static/img/practical.svg" alt="parctical learning">
        <h6>Practical learning</h6>
        <p>The only costs are for standard school fee and voluntary field trips.</p>
      </div>
      <div class="col-12 col-md-6">
        <img class="working_content-icon" src="/static/img/note.svg" alt="parctical learning">
        <h6>Meaningful Education</h6>
        <p>Many of our Connections Academy schools have additional accreditations.</p>
      </div>
      <div class="col-12 col-md-6">
        <img class="working_content-icon" src="/static/img/book.svg" alt="parctical learning">
        <h6>Best curriculum</h6>
        <p>Our curriculum prepares students to go further in life by giving them support.</p>
      </div>
      <div class="col-12 col-md-6">
        <img class="working_content-icon" src="/static/img/network.svg" alt="parctical learning">
        <h6>Social interaction</h6>
        <p>Students at Connections Academy collaborate on projects together.</p>
      </div>
    </div>
  </section>

  <section class="gallery">
    <div class="gallery_head">
      <h2>Our moments</h2>
      <div>
        View gallery
      </div>
    </div>
    <div class="gallery_wrap row">
      <img class="img-fluid col-12 col-sm-6 col-md-3" src="/static/img/gallery-1.png" alt="gallery">
      <img class="img-fluid col-12 col-sm-6 col-md-3" src="/static/img/gallery-2.png" alt="gallery">
      <img class="img-fluid col-12 col-sm-6 col-md-3" src="/static/img/gallery-3.png" alt="gallery">
      <img class="img-fluid col-12 col-sm-6 col-md-3" src="/static/img/gallery-1.png" alt="gallery">
      <img class="img-fluid col-12 col-sm-6 col-md-3" src="/static/img/gallery-2.png" alt="gallery">
      <img class="img-fluid col-12 col-sm-6 col-md-3" src="/static/img/gallery-3.png" alt="gallery">
      <img class="img-fluid col-12 col-sm-6 col-md-3" src="/static/img/gallery-1.png" alt="gallery">
      <img class="img-fluid col-12 col-sm-6 col-md-3" src="/static/img/gallery-2.png" alt="gallery">
    </div>
  </section>

  <section class="cta">
    <div>
      <h1 class="cta_head">
        Transform your life through education
      </h1>
      <a href="mailto:info@edworld.com" class="cta_btn">
        Register Now
      </a>
    </div>
  </section>
</main>

<footer>
  <section class="footer-main ">
    <div class="footer_desc col-12 col-sm-6 col-md-3">
      <img src="/static/svg/logo.svg" alt="edworld">
      <p>Our motto to fulfill student demand by making them industry ready experts to kick start their career</p>
    </div>
    <div class="footer_links col-12 col-sm-6 col-md-3">
      <h4>About</h4>
      <p>About Us</p>
      <p>Features</p>
      <p>News</p>
      <p>Careers</p>
      <p>FAQ</p>
    </div>
    <div class="footer_links col-12 col-sm-6 col-md-3">
      <h4>Support</h4>
      <p>Account</p> 
      <p>Support Center</p>
      <p>Feedback</p>
      <p>Contact Us</p>
      <p>Accesbility</p>
    </div>
    <div class="footer_btns col-12 col-sm-6 col-md-3">
      <h4>Get our app</h4>
      <img src="/static/img/Google Play outline badge.png" alt="google play"><br>
      <img src="/static/img/App Store outline badge.png" alt="appstore">
    </div>
  </section>
  <section class="footer-sec">
    <p>©Copyright edWorld 2022 All rights reserved.</p>
  </section>
</footer>