<header class="header">
  <nav class="nav-bar">
    <a class="nav-bar_logo" href="/">
      <img src="/static/svg/logo.svg" alt="edWorld" >
    </a>
    <div class="nav-bar_list d-none d-md-flex">
      <a href="/">Home</a>
      <a href="/">Courses</a>
      <a href="/">Contact</a>
    </div>
    <a href="/login" class="nav-bar_btn">
      <div>Sign in</div>
    </a>
  </nav>


  <div class="hero">
    <div class="hero_content">
      <h3 class="hero_title">
        Discover best classes for the best  learning
      </h3>
      <p class="hero_description">
        We designed Connections Academy to give students all across the nation a public school that lets them learn.
      </p>
      <a href="#" class="hero_btn">
        <div>Register Now</div>
      </a>
    </div>
    <div class="hero_img">
      <img class="img-fluid d-none d-md-block" src="/static/img/hero.svg" alt="Discover">
    </div>
  </div>

  <div class="partners">
    <div class="partners_title">
      <h3>400+</h3>
      <p>Universities worldwide that partner with us</p>
    </div>
    <div class="partners_img">
      <img class="img-fluid" src="/static/img/partners.png" alt="partners">
    </div>
  </div>
</header>
