<nav class="p-3">
  <a href="/">
    <img src="/static/svg/logo.svg" alt="edWorld" height="35px" />
  </a>
</nav>
<section style="height: 90vh;">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block my-auto">
              <img
                src="/static/svg/secure-login.svg"
                alt="login form"
                class="img-fluid p-3"
                style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center my-auto">
              <div class="card-body p-4 p-lg-5 my-5 text-black">
                <form method="post" action="/update-password">
                  <h5
                    class="fw-normal fs-3 mb-3 pb-3"
                    style="letter-spacing: 1px;"
                  >Update your password</h5>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control form-control-lg"
                      required
                      oninput="validatePassword(this)"
                    />
                    <label class="form-label" for="password">New Password</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="confirmPassword"
                      name="confirmPassword"
                      class="form-control form-control-lg"
                      required
                      oninput="checkConfirmPass(this)"
                    />
                    <label class="form-label" for="confirmPassword">Confirm
                      Password</label>
                  </div>

                  <p class="text-danger">{{error}}</p>

                  <div class="pt-1 mb-4">
                    <button
                      class="btn btn-lg btn-block"
                      style="background-color: #3BB77E; color: #FFF;"
                      type="submit"
                    >Login</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>