.office-layout {
  font-size: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.office-layout > .sidebar {
  grid-column: 1/2;
  grid-row: 1/2;
  position: fixed;
  z-index: 100 !important;
}

.office-layout > .sidebar {
  margin-left: -210px;
  transition: margin 0.1s linear;
}

.office-layout > .sidebar > div {
  background-color: #eaeaea;
}

.office-layout > .sidebar > div .sidebar-items > a {
  font-size: 1.3em;
  padding: 10px 30px 10px 20px;
  cursor: pointer;
  color: #696969 !important;
}

.office-layout > .sidebar > div .sidebar-items img {
  margin-bottom: 4px;
}

.office-layout > .sidebar > div .sidebar-items > a:hover {
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
}

.office-layout > .main {
  grid-column: 2/3;
  grid-row: 1/2;
  overflow-y: auto !important;
}

.office-layout > .sidebar .logout > a {
  color: #696969 !important;
}

@media screen and (min-width: 768px) {
  .office-layout {
    height: 100% !important;
    min-height: 100%;
    position: relative;
  }

  .office-layout > .sidebar {
    position: relative;
  }

  .office-layout > .sidebar {
    margin-left: 0px;
  }
}
