ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.working-days {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.working-days::-webkit-scrollbar {
  display: none;
}
*/

/* Hide scrollbar for IE, Edge and Firefox */
.working-days {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.working-days-card {
  font-size: larger;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  margin: 0 5px;
  cursor: auto;
  background-color: #ffffff;
  color: #3bb77e;
  border-radius: 6px;
}

.working-days-card-text {
  color: #5b5b5b43;
}

.working-days-card-count {
  font-size: larger;
}

.working-days-head {
  display: flex;
  justify-content: start;
  min-width: 150px;
  height: 55px;
}
