<div class="tab-bar mb-4 mt-2 d-flex">
  <a
    href="/office/students"
    class="btn d-flex py-3 px-4 justify-content-center align-items-center"
    style="background-color: #f1f1f1;"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center flex-sm-row"
    >
      <img src="/static/icon/home.svg" width="25px" alt="" />
      <span class="ms-2">Students</span>
    </div>
  </a>
  <a
    href="/office/students/add-student"
    class="btn d-flex ms-2 py-3 px-4 justify-content-center align-items-center"
    style="background-color: #f1f1f1;"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center flex-sm-row"
    >
      <img src="/static/icon/document-upload.svg" width="25px" alt="" />
      <span class="ms-2">Add Student</span>
    </div>
  </a>
</div>