<div class="tab-bar mb-4 mt-2">
  <div class="d-flex py-3 px-4 justify-content-center align-items-center">
    <a
      href="/office/teachers"
      class="d-flex flex-column justify-content-center align-items-center flex-sm-row"
    >
      <img src="/static/icon/home.svg" width="25px" alt="" />
      <span class="ms-2">Teachers</span>
    </a>
    <div style="color: #bbbbbb;">|</div>
    <a
      href="/office/teachers/add-teacher"
      class="d-flex flex-column justify-content-center align-items-center flex-sm-row"
    >
      <img src="/static/icon/document-upload.svg" width="25px" alt="" />
      <span class="ms-2">Add Teacher</span>
    </a>
  </div>
</div>