<div class="tab-bar mb-4 mt-2 d-flex">
  <a
    href="/office/teachers"
    class="btn d-flex py-3 px-4 justify-content-center align-items-center rounded-3"
    style="background-color: #f1f1f1;"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center flex-sm-row"
    >
      <img src="/static/icon/home.svg" width="25px" alt="" />
      <span class="ms-2">Teachers</span>
    </div>
  </a>
  <a
    href="/office/teachers/add-teacher"
    class="btn ms-2 d-flex py-3 px-4 justify-content-center align-items-center rounded-3"
    style="background-color: #f1f1f1;"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center flex-sm-row"
    >
      <img src="/static/icon/document-upload.svg" width="25px" alt="" />
      <span class="ms-2">Add Teacher</span>
    </div>
  </a>
</div>