{{> office/batches}}

<section class="mt-5">
  <h4 class="mb-4">Add new Batch</h4>
  <form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline input-group-lg">
          <input type="text" id="form6Example1" class="form-control" />
          <label class="form-label" for="form6Example1">Starting Date</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline input-group-lg">
          <input type="text" id="form6Example2" class="form-control" />
          <label class="form-label" for="form6Example2">Duration (months)</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline input-group-lg">
          <input type="text" id="form6Example2" class="form-control" />
          <label class="form-label" for="form6Example2">Fee</label>
        </div>
      </div>

    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline input-group-lg">
          <input type="text" id="form6Example2" class="form-control" />
          <label class="form-label" for="form6Example2">Number of Seats</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline input-group-lg">
          <input type="text" id="form6Example2" class="form-control" />
          <label class="form-label" for="form6Example2">Batch head</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline input-group-lg">
          <input type="text" id="form6Example2" class="form-control" />
          <label class="form-label" for="form6Example2">Fee payment options</label>
        </div>
      </div>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-lg btn-block mb-4"
      style="background-color: #3BB77E; color: #FFF;"
    >Create batch</button>
  </form>
</section>