{{> office/batches}}

<section class="mt-5">
  <h4 class="mb-4">All Batches</h4>
  <div class="table-responsive">
    <table class="table align-middle batches-table table-striped">
      <thead class="bg-dark text-white">
        <tr>
          <th scope="col">Batch</th>
          <th scope="col">Batch Head</th>
          <th scope="col">Seats</th>
          <th scope="col">Students</th>
          <th scope="col">Start Date</th>
          <th scope="col">Duration</th>
          <th scope="col">Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>